@font-face{
  font-family: PointedlyMad;
  src: url(../fonts/PointedlyMad.ttf);
}
@font-face{
  font-family: VacerBold;
  src: url(../fonts/VacerSansBoldPersonal.ttf);
}
@font-face{
  font-family: VacerStandard;
  src: url(../fonts/VacerSansBookPersonal.ttf);
}
.vacer-text{
  font-family: VacerBold;
  font-size: 28px;
}
.vacer-text-lg{
  font-family: VacerBold;
  font-size: 44px;
}
.pointed-text{
  font-size:40px;
  font-family: PointedlyMad;
}
.pointed-text-lg{
  margin-right:1px;
  font-family: PointedlyMad;
  font-size: 64px;
}
.blue-text{
  color:var(--primary);
}
.red-text{
  color:var(--accentRed);
}
.yellow-text{
  color:var(--accentYellow);
}
.orange-text{
  color:var(--accentOrange);
}
:root{
  --primary:#13cfec;
  --accentRed:#EC3013;
  --accentOrange:#EC9D13;
  --accentYellow:#CFEC13;
  --blackMain:#000;
  --whiteMain:#eee;
}
html, body {
  padding:0;
  margin:0;
  background-color: #000;
  color: var(--whiteMain);
}
#page{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #000;
}
header{
  background-color: inherit;
  z-index:2;
  position:relative;
  height: 80px;
  padding-top:16px;
  padding-bottom:16px;
  border-bottom: 1px var(--primary) solid;
}
#branding-mobile{
  margin-left:16px;
  height: 100%;
  float: left;
}
#branding-mobile img{
  max-height: 100%;
}
#menu-expand{
  float: right;
  margin-top: 16px;
  margin-right:16px;
}
#menu-expand i {
  color: #eee;
  font-size: 40px;
}
#nav-header-mobile{
  border-bottom: 1px var(--primary) solid;
  z-index:1;
  position:absolute;
  top:112px;
  width:100%;
  transition: .3s all;
  background-color:#000;
  transform:translateY(-100%);
}
#close-nav-header-mobile{
  text-align: right;
  font-size: 28px;
  margin: 16px;
}
#nav-header-mobile ul{
  margin: 0;
  padding: 0;
  border-top: 1px #bbb solid;
}
#nav-header-mobile li{
  list-style:none;
  text-align: center;
  font-family: VacerBold;
  font-size: 26px;
  text-transform:uppercase;
  padding-top: 8px;
  padding-bottom: 12px;
  border-bottom: 1px #eee solid;
}
#nav-header-mobile li:first-letter{
  font-family: PointedlyMad;
  font-size: 44px;
}
#ctas{
  float: right;
  text-align:center;
  margin: 22px 18px;
}
.btn{
  border-radius:3px;
  font-size:26px;
  color:#eee;
  text-decoration: none;
  padding: 8px 12px;
  font-family: VacerBold;
}
.btn-changing{
  text-shadow: -1px -1px #000;
  background-color: var(--accentRed);
  animation: 7s orangeToYellow;
  animation-iteration-count: infinite;
}
@keyframes orangeToYellow{
  0%{background-color: var(--accentRed);}
  50%{background-color: var(--accentOrange);}
  100%{background-color: var(--accentRed);}
}
.btn-blue{
  background-color: var(--primary);
}
.btn-red{
  background-color: var(--accentRed);
}
main{
  position: relative;
}
.main-text{
  padding: 16px;
}
h1{
  text-shadow: -1px -1px #333;
  border-bottom:1px var(--primary) solid;
  text-align:center;
  font-size: 44px;
  font-family: PointedlyMad;
  color: var(--accentRed);
  padding-bottom: 16px;
  padding-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
}
p{
  color: var(--accentYellow);
  font-size:26px;
  line-height:32px;
  font-family:VacerStandard;
}
p:first-letter{
  font-family:PointedlyMad;
  color: var(--accentOrange);
  font-size: 44px;
  margin-right: 1px;
}
a{
  color:var(--primary);
  text-decoration: none;
}
footer{
  border-top: 1px var(--accentRed) solid;
  padding-top: 8px;
  padding-bottom: 2px;
  position: relative;
  text-align: center;
  display:flex;
}
#footer-contact-mobile{
  width:50%;
  font-size: 20px;
  color:var(--accentYellow);
}
#footer-social-nav-mobile{
  width:50%;
}
.fa-facebook-f{
  color:var(--primary);
}
.fa-instagram{
  color:var(--primary);
}
#footer-social-nav-mobile i{
  margin: 12px;
  font-size: 48px;
}
.blackout{
  z-index:-1;
  position: absolute;
  width:100%;
  height:100%;
  background-color: #000;
  opacity:0;
  transition:.2s opacity;
}
img{
  max-width: 100%;
}
@media screen and (min-width:1200px){
  #bg{
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image:url(../img/background/bg1920-blur1.jpg);
  }
  #bg-opaque{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000;
    opacity: .5;
  }
}
