@font-face{
  font-family: PointedlyMad;
  src: url(../fonts/PointedlyMad.ttf);
}
@font-face{
  font-family: VacerBold;
  src: url(../fonts/VacerSansBoldPersonal.ttf);
}
@font-face{
  font-family: VacerStandard;
  src: url(../fonts/VacerSansBookPersonal.ttf);
}
.vacer-text{
  font-family: VacerBold;
}
.pointed-text{
  font-family: PointedlyMad;
  color:var(--red);
}
.blue-text{
  color:var(--blue);
}
.red-text{
  color:var(--red);
}
.yellow-text{
  color:var(--yellow);
}
.orange-text{
  color:var(--orange);
}
:root{
  --blue:#13cfec;
  --blueComp:#42D9F0;
  --red:#EC3013;
  --orange:#EC9D13;
  --yellow:#CFEC13;
  --green:#63EC13;
  --blackMain:#111;
  --whiteMain:#eee;
}
html, body {
  scrollbar-color: var(--whiteMain) var(--blackMain);
  padding:0;
  margin:0;
  background-color: var(--blackMain);
  color: var(--whiteMain);
}
#page{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--blackMain);
  box-shadow: -1px -1px 2px #333;
}
header{
  background-color: inherit;
  z-index:2;
  position:relative;
  height: 80px;
  padding-top:16px;
  padding-bottom:16px;
  border-bottom: 1px var(--whiteMain) solid;
}
#branding-mobile{
  margin-left:16px;
  height: 100%;
  float: left;
}
#branding-mobile img{
  max-height: 100%;
}
#lang-expand{
  color: #e7e7e7;
  float:left;
  margin-left: 16px;
  margin-top:31px;
  font-size:20px;
  position: relative;
  z-index:1;
}
#lang-expand:hover{
  cursor:default;
}
#lang-expand #language-dropdown-caret{
  font-size: 8px;
  margin-left:-4px;
  margin-top:6px;
}
#language-dropdown-menu{
  position: absolute;
  left:20px;
  top:8px;
  visibility: hidden;
  height:0;
  z-index:-1;
}
#language-dropdown-menu ul li{
  color:#111;
  font-weight:400;
  background-color:#ddd;
  border:1px #eee solid;
  padding:3px 4px;
  font-size:20px;
}
#language-dropdown-menu ul li:hover{
  background-color:var(--blue);
  border-color:var(--blue);
  cursor:default;
}
#language-dropdown-menu ul li .selected{
  background-color:var(--blue);
}
select{
  font-family: VacerStandard;
  margin-left:-4px;
  padding:0;
  background-color: var(--blackMain);
  color:var(--whiteMain);
  border:none;
  font-size:20px;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
}
option{
  font-family:VacerStandard;
  font-size:20px;
  background-color:var(--blue);
}
option:active, option:hover{
  outline-color:var(--red);
}
nav#nav-header-pc{
  position:absolute;
  bottom:100%;
}
#menu-expand{
  float: right;
  margin-top: 16px;
  margin-right:16px;
}
#menu-expand i {
  color: #eee;
  font-size: 40px;
}
#nav-header-mobile{
  border-bottom: 1px var(--blue) solid;
  z-index:1;
  position:absolute;
  top:112px;
  width:100%;
  transition: .3s all;
  background-color:var(--blackMain);
  transform:translateY(-100%);
}
#close-nav-header-mobile{
  text-align: right;
  font-size: 28px;
  margin: 16px;
}
#nav-header-mobile ul{
  margin: 0;
  padding: 0;
  border-top: 1px #bbb solid;
}
#nav-header-mobile li{
  list-style:none;
  text-align: center;
  font-family: VacerBold;
  font-size: 26px;
  padding-top: 8px;
  padding-bottom: 12px;
  border-bottom: 1px var(--blue) solid;
}
#nav-header-mobile li:last-child{
  border-bottom:none;
}
li a{
  text-decoration: none;
  color:var(--whiteMain);
}
li .pointed-text{
  font-size: 44px;
}
li .vacer-text{
  font-size: 29px;
}
a{
  color:white;
  text-decoration:none;
}
#ctas{
  float: right;
  text-align:center;
  margin: 22px 18px;
}
.btn{
  border-radius:3px;
  font-size:18px;
  color:#eee;
  text-decoration: none;
  padding: 8px 12px;
  font-family: VacerBold;
}
.btn-blue{
  background-color: var(--blue);
}
.btn-red{
  background-color: var(--red);
}
main{
  position: relative;
}
.main-text{
  padding: 16px;
}
.main-text img{
  margin-bottom:16px; 
}
h4{
  color:var(--yellow);
  text-align: center;
  padding:0;
}
.page-header{
  border-bottom:1px var(--blue) solid;
  z-index:0;
  display:flex;
  justify-content: center;
  margin-bottom:0;
  margin-top: 16px;
}
.page-header img{
  max-height: 20px;
  transform: translateY(18px);
}
#drop-right{
  transform: translateY(20px);
}
h1{
  display:inline;
  text-shadow: -1px -1px transparent;
  text-align:center;
  font-size: 44px;
  font-family: VacerStandard;
  color: var(--whiteMain);
  padding: 4px 4px 6px 4px;
  margin: 20px 16px;
  line-height:36px;
}
h1 .pointed-text {
  font-size: 56px;
}
h1 .vacer-text{
  font-size:33px;
}
h2{
  text-shadow: -1px -1px #222;
  text-align: center;
  font-family: PointedlyMad, cursive, sans-serif;
  color:var(--whiteMain);
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom:12px;
}
p{
  margin-top:4px;
  color: var(--whiteMain);
  font-size:26px;
  line-height:34px;
  font-family:VacerStandard;
  margin-bottom:8px;
}
p:first-of-type::first-letter{
  font-size: 36px;
  font-family:PointedlyMad;
}
.menu-section{
  text-align: center;
}
p a{
  color:var(--yellow);
  text-decoration: none;
}
table, ul{
  font-family:"Times New Roman", Times, serif;
  font-size: 24px;
  font-weight:bold;
  padding:0;
  color: var(--yellow);
}
table{
  margin:auto;
}
td, li{
  text-align: left;
  padding: 2px 24px;
}
ul{
  text-align: center;
  list-style: none;
}
.news-item, .news-item-page{
  padding-bottom:32px;
}
.news-item-date{
  font-style:italic;
  color:#eee;
  font-weight:300;
  text-align:center;
  font-size:18px;
  margin-bottom:12px;
}
.news-item-text{
  margin-top:6px;
  font-size:16px;
  color:white;
  padding:4px 8px;
}
.news-item-page-subheader{
  margin-top:12px;
}
.news-page-footer{
  text-align:center;
  padding-bottom:16px;
}
.news-page-footer a{
  margin:64px 16px;
}
.news-item-page-body .news-item-text{
  width:100%;
}
.link-prev, .link-next{
  color:var(--blue);
  font-family:VacerBold;
  font-size:24px;
}
a.link-prev.disabled, a.link-next.disabled{
  opacity:.5;
}
h5{
  text-shadow: -1px -1px #222;
  text-align: center;
  font-family: PointedlyMad, cursive, sans-serif;
  color:var(--red);
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom:12px;
  margin-top:28px;
}
.menu-text{
  background:linear-gradient(var(--orange) 0%,var(--yellow) 99%, var(--yellow) 100%);
  color:transparent;
  background-clip: text;
  text-align:center;
  font-size:24px;
}
.menu-section{
  text-align: center;
  padding-bottom:32px;
}
.menu-single-items{

}
.menu-subsection-split-2{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
#map{
  margin-top:-20px;
  width:100%;
  height:400px;
}
footer{
  border-top: 1px var(--red) solid;
  padding-top: 8px;
  padding-bottom: 2px;
  position: relative;
  text-align: center;
  max-width:1200px;
  margin:auto;
  background-color:inherit;
}
footer .blackout{
  top:-2px;
}
#footer-contact-mobile{
  font-size: 18px;
  color:#efefef;
  font-weight:300;
  font-family:VacerStandard;
}
#footer-social-nav-mobile i{
  margin:16px;
  font-size: 32px;
}
.blackout{
  z-index:-1;
  position: absolute;
  width:100%;
  height:100%;
  background-color: var(--blackMain);
  opacity:0;
  transition:.2s opacity;
}
img{
  max-width: 100%;
}
.price{
  color: var(--blue);
}
.gm-style-iw-c{
  background-color:var(--blackMain);
}
@media only screen and (min-width:540px){
  #hero-image{
    padding:16px 32px;
  }
}
@media only screen and (min-width:768px){
  #branding-mobile{
    margin-left:24px;
  }
  #menu-expand{
    margin-right:24px;
  }
  #hero-image{
    padding:16px 96px;
  }
  .news-items{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  .news-item{
    width:320px;
  }
  .news-item-header{
    padding:8px 16px;
  }
  .news-item-img{
    padding: 8px;
    max-width:100%;
  }
  .news-item-text{
    padding: 8px;
  }
  h5{
    font-size:44px;
  }
  h5.price{
    font-size:32px;
  }
  .menu-text{
    font-size:32px;
  }
  #map{
    height:600px;
  }
}
@media only screen and (min-width:992px){
  header{
    height:148px;
  }
  #branding-mobile, #menu-expand{
    position: absolute;
    height:0;
    visibility: hidden;
  }
  #lang-expand{
    position: absolute;
    top:48px;
    right:48px;
    margin:0;
    transform:translateX(50%);
  }
  nav#nav-header-pc{
    top:36px;
    width:100%;
    height:auto;
    display:flex;
  }
  nav#nav-header-pc ul{
    flex:40%;
    display:flex;
  }
  nav#nav-header-pc ul li{
    flex:1;
    text-align:center;
    padding-top:48px;
  }
  #branding-pc{
    flex:20%;
    display:flex;
    justify-content: center;
  }
  #hero-image{
    padding:16px 180px;
  }
  .page-header{
    margin-bottom:32px;
  }
  .main-text p{
    padding-left:32px;
    padding-right:32px;
  }
  .main-text img{
    max-width: 50%;
    margin-right: 16px;
  }
  h5{
    font-size:48px;
    margin-top:36px;
  }
  h5 .price{
    font-size:36px;
  }
  .menu-text{
    font-size:36px;
  }
  #map{
    margin-top:-48px;
  }
}
@media only screen and (min-width:1200px){
  #bg{
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image:url(../img/background/bg1920-blur1.jpg);
  }
  #bg-opaque{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--blackMain);
    opacity: .5;
  }
}
